<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${entity.title}">뉴스 기사</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="news-container">
    <div class="title-container">
        <h1 class="news-title" th:text="${entity.title}"></h1>

        <p class="news-meta">
            <span th:text="${entity.author}+ ' 기자'"></span>
            <span>●</span>
            <span th:text="'읽음 ' + ${entity.read_count}"></span>
            <span>●</span>
            <span th:text="'게시일 ': ${entity.date}"></span>
        </p>
    </div>

    <img th:src="${entity.image}" alt="뉴스 이미지">
    <div class="contents">
        <p class="description" th:utext="${#strings.replace(entity.description, '다.', '다.<br/>')}"></p>
    </div>
</div>
</body>
</html>